<template>
  <q-page class="flex flex-center" id="canvas">
    <widget
      v-for="widget in widgets"
      :key="widget.id"
      :id="widget.id"
      :title="widget.title"
      :style="`top: ${widget.position[0]}px; left: ${widget.position[1]}px`"
    />
  </q-page>
</template>

<script>
import { ready, newInstance } from '@jsplumb/browser-ui'
import { DotEndpoint, FlowchartConnector, Anchor } from '@jsplumb/core'
import Widget from 'components/Widget'

export default {
  name: 'PageIndex',
  components: {
    Widget
  },
  data () {
    return {
      instance: null,
      widgets: [
        {
          id: 1,
          title: 'Test1',
          position: [ 10, 10],
          connections: [
            {
              id: 2
            }
          ]
        },
        {
          id: 2,
          title: 'Test2',
          position: [ 10, 300 ],
          connections: [
            {
              id: 3
            }
          ]
        },
        {
          id: 3,
          title: 'Test3',
          position: [ 200, 10 ]
        }
      ]
    }
  },
  mounted () {
    this.$root.$on('add-widget', this.onAddWidget)
    ready(this.onReadyJsPlumb)
  },
  methods: {
    onAddWidget () {
      const id = this.widgets.length + 1
      this.widgets.push({
        id: id,
        title: `Other ${this.widgets.length + 1}`,
        position: [ 10 * this.widgets.length + 2, 10],
        connections: []
      })
      console.log(this.instance)
      console.log(this.instance.getConnections())
      this.$nextTick(() => {
        const el = document.getElementById(id)
        this.addEndPoint(el)
      })
    },
    onReadyJsPlumb () {
      this.instance = newInstance({
        container: document.getElementById('canvas'),
        // https://docs.jsplumbtoolkit.com/community/current/articles/dragging.html
        elementsDraggable: true,
        dragOptions: {
          grid: [ 10, 10 ]
        }
      })
      this.widgets.forEach(widget => {
        if (!widget.connections) {
          return
        }
        widget.connections.forEach(connection => {
          const source = document.getElementById(widget.id)
          const target = document.getElementById(connection.id)
          this.createConnection(source, target)
        })
      })
    },
    addEndPoint (el) {
      this.instance.setDraggable(el, true)
      this.instance.addEndpoint(el, {
        isSource: true,
        isTarget: true,
        anchors: 'Continuous',
        connector: FlowchartConnector.type,
        endpoint: {
          type: DotEndpoint.type,
          options: {
            radius: 10
          }
        }
      })
    },
    createConnection (source, target) {
      this.instance.connect({
        source: source,
        target: target,
        // https://stackoverflow.com/questions/44277245/how-to-integrate-jsplumb-in-vuejs
        connector: FlowchartConnector.type,
        endpoint: {
          type: DotEndpoint.type,
          options: {
            radius: 10
          }
        },
        anchors: [
          'Continuous',
          'Continuous'
        ]
      })
    }
  }
}
</script>
