<template>
  <q-card
    class="q-ma-md absolute cursor-pointer"
    style="min-width: 200px"
  >
    <q-card-section class="bg-grey-9">
      <div class="text-h6 q-ma-none text-white">
        {{ title }}
      </div>
    </q-card-section>
    <q-card-section class="q-pa-none">
      <q-list class="q-ma-none text-right">
        <q-item class="result">
          <q-item-section>
            TRUE
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section>
            <q-btn dense
              label="false"
              color="primary"
            />
          </q-item-section>
        </q-item>
      </q-list>
    </q-card-section>
  </q-card>
</template>

<script>
export default {
  name: 'Widget',
  props: {
    title: {
      type: String
    }
  }
}
</script>
